/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    height: 80px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 20px 0;
    background: $white;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
    &.header-scrolled, &.header-pages {
      height: 60px;
      padding: 10px 0;
    }
    .tap-to-call {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      background: #00366f;
      color: #fff;
      font-weight: bold;
      display: block;
      width: 100%;
    }
    .logo {
      h1 {
        font-size: 36px;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-weight: 400;
        letter-spacing: 3px;
        text-transform: uppercase;
        a {
          color: #00366f;
          text-decoration: none;
          &:hover {
            color: #00366f;
            text-decoration: none;
          }
        }
      }
      img {
        padding: 0;
        margin: -40px 0 0 0;
        max-height: 130px;
      }
    }
  }
  
  .main-pages {
    margin-top: 60px;
  }
  
  #services-page {
    padding: 130px 0 30px 0;
  }