/*--------------------------------------------------------------
# Banner Section & Coupon-review Section
--------------------------------------------------------------*/
//Banner
#intro {
  width: 100%;
  padding: 161px 0 72px 0;
  text-align: center;
  text-transform: uppercase;
  background: url('../images/slide3.jpg');
  color: #fff;
  position: relative;

  &:before {
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    z-index:0;
    background-color: rgba(0,0,0,0.34);
  }

  .intro-info {
      position: relative;
    h2 {
      strong {
        display: block;
        font: 700 73px/1 'Glacial',Verdana,Sans-serif;
        letter-spacing: 0;
      }
    }
    p {
      margin-left: auto;
      margin-right: auto;
      max-width: 770px;
      letter-spacing: 3px;
      line-height: 1.6em;
    }
  }
}

// Coupon and Review Section
#coupon-review-section {
  .row {
    margin-right: 0px;
    //TODO:  Temporary fix
  }
  position: relative;
  margin-bottom: 20px;
  min-height: 370px;
  .couponList {
    .coupon {
      position: relative;
      margin: 30px 50px 40px;
      padding: 50px 70px;
      padding-right: 0;
      min-height: 330px;
      border: none;
      border-radius: 80px;
      border-bottom-left-radius: 0;
      background: #0d7abd;
      overflow: hidden;
      -webkit-box-shadow: 0 5px 30px 4px rgba(0,43,90,.7);
      -moz-box-shadow: 0 5px 30px 4px rgba(0,43,90,.7);
      box-shadow: 0 5px 30px 4px rgba(0,43,90,.7);
      .title {
        color: #251967;
        font: 700 2.063em/1.4em 'Nexa',Arial,sans-serif;
        strong {
          display: block;
          color: #fff;
          font: 700 74px/1em 'Glacial',Arial,sans-serif;
          text-transform: uppercase;
        }
      }
      .content{
        color: #dfe9ff;
        font: 400 1.063em/1.4em 'Glacial',Arial,sans-serif
      }
    }
  }
  #testimonials {
    .section-header {
      text-transform: uppercase;
      h2 {
        margin: 0;
        color: #dfe9ff;
        font: 700 2.8em/1.4em 'Glacial',Verdana,sans-serif;
        text-transform: uppercase;
      }
    }
    .testimonial-item {
      h3 {
        color: #012750;
        display: inline-block;
        padding-left: 0px;
        padding-top: 4px;
        margin-bottom: 10px;
        font: 700 1.5em/1.4em 'Nexa',Verdana,Sans-serif;
      }
      p {
        margin: 0 0 .8em;
        color: #818181;
        font: italic 300 1.063em/1.2em "Georgia",Verdana,sans-serif;
      }
      .testimonial-rating {
        padding-bottom: 20px;
        display: inline-block;
        i {
          color: $yellow;
        }
      }
    }
    .owl-nav, .owl-dots {
      margin-top: 5px;
      text-align: center;
    }
    .owl-dot {
      display: inline-block;
      margin: 0 5px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #ddd;
      &.active {
        background-color: #0d7abd;
      }
    }
  }
  .wow {
    padding: 0;
  }
}
