/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/

@media (max-width: 1619px) and (min-width: 1224px) {
.template-home .module-couponslist .coupon {
    padding: 30px 0 20px 50px;
    margin-left: 25px;
    margin-right: 25px;
    -webkit-box-shadow: 0 5px 20px 4px rgba(255,0,0,.7);
    -moz-box-shadow: 0 5px 20px 4px rgba(255,0,0,.7);
    box-shadow: 0 5px 20px 4px rgba(255,0,0,.7);
  } 
}

@media (min-width: 992px) {
    #intro.owl-carousel .owl-nav {
      padding: 40px;
    }
  }
  
@media (max-width: 991px) {
  #header {
    height: 60px;
    padding: 10px 0;
    .logo h1 {
      font-size: 28px;
      padding: 8px 0;
    }
  }
  #services-page {
    padding: 100px 0 30px 0;
  }
  #intro {
    padding-top: 60px;
    .intro-img {
      width: 80%;
      float: none;
      margin: 0 auto 25px auto;
    }
    .intro-info {
      width: 80%;
      float: none;
      margin: auto;
      text-align: center;
    }
  }
  #why-us .card {
    margin: 0;
  }
}

@include media-breakpoint-up(lg) {
  #coupon-review-section{
    .couponList {
      margin-top: -113px;
    }
  }

  #about {
    .section-header {
      margin-top: 100px;
    }
  }
}

@include media-breakpoint-down(md) {
  .back-to-top {
    bottom: 15px;
  }
  #intro .intro-info {
    width: 100%;
    h2 {
      font-size: 34px;
      margin-bottom: 30px;
    }
  }
  .section-header p {
    width: 100%;
  }
  }

  
  @include media-breakpoint-only(xs) { 
    #header, #header.header-scrolled {
      padding: 0;
      height: 113px;
      .logo {
        img {
          margin-top: -22px;
          max-height: 115px;
        }
      }
    }

    #intro {
      padding: 60px 0 20px 0;
      &.owl-carousel .owl-nav {
        padding: 0 10px;
      }
      .intro-item {
        padding: 100px 10px 40px 10px;
        height: auto;
      }

      .intro-info {
        h2 {
          font-size: 30px
        }
      }
    }

    #about {
      padding: 60px 0 0;
    }

    #testimonials {
      border-radius: 0;
      .section-header {
        h2 {
          font-size: 22px;
        }
      }
    }
  }