/* Services Section
--------------------------------*/

#services {
    padding: 60px 0 40px 0;
    .box {
      padding: 30px;
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      margin: 0 10px 40px 10px;
      background: #fff;
      box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
      transition: all 0.3s ease-in-out;
      &:hover {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
      }
    }
    .shop-icon {
      position: absolute;
      left: -17px;
      top: calc(50% - 32px);
      width: 77px;
      height: 65px;
      transition: 0.5s;
      background: url('../img/car-icons.png') #0e7abe;
    }
    .title {
      margin-left: 40px;
      font-weight: 700;
      margin-bottom: 15px;
      font-size: 18px;
      a {
        color: #111;
      }
    }
    .box:hover .title a {
      color: #0e7abe;
    }
    .description {
      font-size: 14px;
      margin-left: 40px;
      line-height: 24px;
      margin-bottom: 0;
    }
  }