.shop-icon-brakes {
    // background-position: -540px !important;
    background-position: 257px -57px !important;
}
.shop-icon-belts {
    // background-position: -460px !important;
    background-position: 16px -54px !important;
}
.shop-icon-temp {
    // background-position: -994px !important;
    background-position: 18px -176px!important;
}

.shop-icon-cooling {
    background-position: -103px -60px !important;
    height: 60px !important;
}

.shop-icon-engine {
    // background-position: -906px !important;
    background-position: -43px -120px !important;
    height: 60px !important;
}

.shop-icon-axle {
    background-position: 137px 0px !important;
    height: 64px !important;
}
//
.shop-icon-steering {
    background-position: 17px 121px !important;
    height: 64px !important;
}

.shop-icon-maintenance {
    background-position: -103px -180px !important;
    height: 60px !important;
}

.shop-icon-transmission {
    background-position: 77px 120px !important;
    height: 60px !important;
}

.shop-icon-battery {
    background-position: 78px 0px !important;
    height: 60px;
}

//
.shop-icon-electrical {
    background-position: 17px -120px !important;
    height: 60px !important;
}

.shop-icon-diesel {
    background-position: -163px -60px !important;
    height: 60px !important;
}
