.shop-icon-brakes {
    // background-position: -540px !important;
    background-position: 257px -57px !important;
}
.shop-icon-belts {
    // background-position: -460px !important;
    background-position: 16px -54px !important;
}
.shop-icon-temp {
    // background-position: -994px !important;
    background-position: 18px -176px!important;
}
.shop-icon-engine {
    // background-position: -906px !important;
    background-position: 437px -57px !important;
    height: 60px !important;
}
