/* Testimonials Section
--------------------------------*/

#testimonials {
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    .section-header {
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 34px;
    }
    .testimonial-item {
      h3 {
        font-size: 20px;
        font-weight: bold;
        margin: 10px 0 5px 0;
        color: #111;
      }
      h4 {
        font-size: 14px;
        color: #999;
        margin: 0 0 15px 0;
      }
      p {
        font-style: italic;
        margin: 0 0 15px 0px;
        color: #ddd;
      }
    }
    .owl-nav, .owl-dots {
      margin-top: 5px;
      text-align: center;
    }
    .owl-dot {
      display: inline-block;
      margin: 0 5px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #ddd;
      &.active {
        background-color: #007bff;
      }
    }
  }