#why-us {
    padding: 60px 0;
    background: #004a99;
    .section-header {
      h3, p {
        color: #fff;
      }
    }
    .card {
      background: #00458f;
      border-color: #00458f;
      border-radius: 10px;
      margin: 0 15px;
      padding: 15px 0;
      text-align: center;
      color: #fff;
      transition: 0.3s ease-in-out;
      height: 100%;
      &:hover {
        background: #003b7a;
        border-color: #003b7a;
      }
      .card-body {
        padding: 0 10px;
      }
      i {
        font-size: 48px;
        padding-top: 15px;
        color: #bfddfe;
      }
      h5 {
        font-size: 22px;
        font-weight: 600;
      }
      p {
        font-size: 15px;
        color: #d8eafe;
      }
      .readmore {
        color: #fff;
        font-weight: 600;
        display: inline-block;
        transition: 0.3s ease-in-out;
        border-bottom: #00458f solid 2px;
        &:hover {
          border-bottom: #fff solid 2px;
        }
      }
    }
    .counters {
      padding-top: 40px;
      span {
        font-family: 'Glacial',Arial,sans-serif;
        font-weight: bold;
        font-size: 48px;
        display: block;
        color: #fff;
      }
      p {
        padding: 0;
        margin: 0 0 20px 0;
        font-family: 'Glacial',Arial,sans-serif;
        font-size: 14px;
        color: #cce5ff;
      }
    }
  }