<div *ngIf="!isLoading" class="content-component-wrapper">
  <div class="content-header">
    <div class="row">

      <div class="col-sm-12 col-md-4">
        <h1 class="content-header-title">
          Invoices
        </h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a routerLink="/">Autoshop</a>
            </li>
            <li class="breadcrumb-item active">Invoices</li>
          </ol>
        </nav>
      </div>

      <div class="header-stats col-sm-12 col-md-8">
        <div class="header-stat clickable" (click)="lastThirtyDaysFilter()">
          <div class="header-stat-value">${{ totalInvoicedLastThirtyDays | number: '1.2-2' }}</div>
          <div class="header-stat-label">
            <span class="small-caps">Invoices({{ invoicesLastThirtyDays }}) (last 30 days)</span>
          </div>
        </div>
        <div class="header-stat clickable" (click)="resetFilters(); statusInput = parseInt(1); updateFilter(1)">
          <div class="header-stat-value">${{ outstanding | number: '1.2-2' }}</div>
          <div class="header-stat-label">
            <span class="small-caps">Outstanding ({{ outstandingInvoices }})</span>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-12 dataTables-wrapper">

      <div class="card">

        <div class="card-body">

          <div class="row">

            <div class="col-sm-12 col-md-8">
              <div class="dataTables_length" id="datatables-basic_length">

                <select [(ngModel)]="limitInput" (change)="page = parseInt(1, 10); limitInput = parseInt(limitInput);"
                  aria-controls="datatables-basic" class="form-control form-control-sm" name="datatables-basic_length">
                  <option [value]="10">Show 10</option>
                  <option [value]="25">Show 25</option>
                  <option [value]="50">Show 50</option>
                  <!-- <option ngValue="100">100</option> -->
                </select>

                <select [(ngModel)]="statusInput" (change)="updateFilter($event)" class="form-control form-control-sm">
                  <option [value]="0">All Invoices</option>
                  <option [value]="4">Paid</option>
                  <option [value]="1">Outstanding</option>
                  <option [value]=8>Cancelled</option>
                </select>

                <div class="dataTables_filter" id="datatables-basic_filter">
                  <label>
                    <input (keyup)="updateFilter($event)" [(ngModel)]="searchInput" class="form-control form-control-sm"
                      placeholder="Search.." type="search">
                  </label>
                </div>

                <div ngbDropdown class="d-inline-block" autoClose="outside" #datepickerDropdown="ngbDropdown">
                  <button class="btn btn-outline-primary" id="calendarDropdownButton" ngbDropdownToggle>{{ dateFilter | titlecase }}</button>
                  <div ngbDropdownMenu aria-labelledby="calendarDropdownButton" class="calendarDropdown">
                    <div class="row">
                      <div class="col-7">
                        <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="1" [dayTemplate]="t"
                          outsideDays="visible">
                        </ngb-datepicker>
                        <ng-template #t let-date let-focused="focused">
                          <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                            [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                            (mouseleave)="hoveredDate = null">
                            {{ date.day }}
                          </span>
                        </ng-template>
                      </div>
                      <div class="col-5 calendarDropdown-filters">
                        <button class="btn btn-outline-primary" [ngClass]="{selected: dateFilter == 'all time'}" (click)="datepickerFilter('all time'); datepickerDropdown.close()">All Time</button>
                        <button class="btn btn-outline-primary" [ngClass]="{selected: dateFilter == 'this week'}" (click)="datepickerFilter('this week'); datepickerDropdown.close()">This Week</button>
                        <button class="btn btn-outline-primary" [ngClass]="{selected: dateFilter == 'this month'}" (click)="datepickerFilter('this month'); datepickerDropdown.close()">This Month</button>
                        <button class="btn btn-outline-primary" [ngClass]="{selected: dateFilter == 'this year'}" (click)="datepickerFilter('this year'); datepickerDropdown.close()">This Year</button>
                        <button class="btn btn-outline-primary" [ngClass]="{selected: dateFilter == 'last year'}" (click)="datepickerFilter('last year'); datepickerDropdown.close()">Last Year</button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-sm-12 col-md-4">
              <button class="float-right btn btn-primary" (click)="createInvoice()">Create Invoice</button>
            </div>

          </div>

          <div class="row">

            <div class="col-sm-12">
              <table class="table table-striped">

                <thead>
                  <tr>
                    <th class="clickable text-primary" scope="col" (click)="dateSortToggle()">
                      Date <i class="fa fa-unsorted"></i>
                    </th>
                    <th scope="col">Number</th>
                    <th class="clickable text-primary" scope="col" (click)="nameSortToggle()">
                      Customer <i class="fa fa-unsorted"></i>
                    </th>
                    <th scope="col">Vehicle</th>
                    <th scope="col">Status</th>
                    <th class="clickable text-primary" scope="col" (click)="amountSortToggle('amount')">
                      Amount <i class="fa fa-unsorted"></i>
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <tr
                    *ngFor="let inv of invoices | slice: (page-1) * limitInput : (page-1) * limitInput + limitInput; let i = index"
                    class="clickable" (click)="openInvoice(i)">
                    <td>{{ inv.createdAt | date:'longDate'}}</td>
                    <td>{{ inv.number }}</td>
                    <td>{{ inv.customerName }}</td>
                    <td>{{ inv.vehicle.year}} {{ inv.vehicle.model }}</td>
                    <td>
                      <span class="invoice-status-{{ inv.statusName }}">
                        {{ inv.statusName }}
                      </span>
                    </td>
                    <td>${{ inv.total | number: '1.2-2'}}</td>
                  </tr>
                  <div *ngIf="invoices.length == 0">
                    <td>No Data</td>
                  </div>
                </tbody>

              </table>
            </div>

          </div>

          <div class="row">

            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info" role="status" aria-live="polite">
                Showing
                {{ ( 1 + ( (page - 1) * limitInput) ) > invoices.length ? invoices.length : 1 + ( (page - 1) * limitInput)  }}
                to
                {{ ( ( (page - 1) * limitInput ) + limitInput ) > invoices.length ? invoices.length : ( ( (page - 1) * limitInput ) + limitInput ) }}
                of {{ invoices.length }} entries
              </div>
            </div>

            <div class="col-sm-12 col-md-7">
              <div class="dataTables_paginate paging_simple_numbers">
                <ngb-pagination [(page)]="page" [pageSize]="limitInput" [collectionSize]="invoices.length">
                </ngb-pagination>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
