.invoice-status-estimate {
  color: blue;
  text-transform: capitalize;
}

.invoice-status-pending {
  color: red;
  text-transform: capitalize;
}

.invoice-status-canceled {
  color: gray;
  text-transform: capitalize;
}

.invoice-status-paid {
  color: green;
  text-transform: capitalize;
}

