<div class="content-component-wrapper dashboard-wrapper">

  <div class="content-header">
    <h1 class="content-header-title">
      Dashboard
    </h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/">Autoshop</a>
        </li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>

  <div class="row">

    <div class="col-xl-7">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <div class="card-actions float-right">
            <div class="dropdown show">
              <a data-display="static" data-toggle="dropdown" href="#">
                <svg class="feather feather-more-horizontal align-middle" fill="none" height="24" stroke="currentColor"
                     stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                     xmlns="http://www.w3.org/2000/svg">
                  <circle cx="12" cy="12" r="1"></circle>
                  <circle cx="19" cy="12" r="1"></circle>
                  <circle cx="5" cy="12" r="1"></circle>
                </svg>
              </a>

              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <h5 class="card-title mb-0">Recent Movement</h5>
        </div>
        <div class="card-body py-3">
        </div>
      </div>
    </div>

    <div class="col-xl-5 d-flex">
      <div class="w-100">
        <div class="row">
          <div class="col-sm-6">
            <div class="card dashboard-card flex-fill bg-primary text-white">
              <div class="card-header">
                <h5 class="card-title text-white mb-0">Sales Today</h5>
              </div>
              <div class="card-body py-3">
                <div class="row no-gutters">
                  <div class="col-4 align-self-center text-left">
                    <div class="icon icon-primary">
                      <svg class="feather feather-truck align-middle" fill="none" height="24" stroke="currentColor"
                           stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                           width="24" xmlns="http://www.w3.org/2000/svg">
                        <rect height="13" width="15" x="1" y="3"></rect>
                        <polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon>
                        <circle cx="5.5" cy="18.5" r="2.5"></circle>
                        <circle cx="18.5" cy="18.5" r="2.5"></circle>
                      </svg>
                    </div>
                  </div>
                  <div class="col-8 align-self-center text-right">
                    <p class="text-white mb-1">Sales Today</p>
                    <h2 class="text-white">2562</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="card dashboard-card flex-fill bg-danger text-white">
              <div class="card-header">
                <h5 class="card-title text-white mb-0">Visitors Today</h5>
              </div>
              <div class="card-body py-3">
                <div class="row no-gutters">
                  <div class="col-4 align-self-center text-left">
                    <div class="icon icon-danger">
                      <svg class="feather feather-users align-middle" fill="none" height="24" stroke="currentColor"
                           stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                           width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                        <circle cx="9" cy="7" r="4"></circle>
                        <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                        <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="col-8 align-self-center text-right">
                    <p class="text-white mb-1">Visitors Today</p>
                    <h2 class="text-white">17212</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card dashboard-card flex-fill bg-success text-white">
              <div class="card-header">
                <h5 class="card-title text-white mb-0">Total Earnings</h5>
              </div>
              <div class="card-body py-3">
                <div class="row no-gutters">
                  <div class="col-4 align-self-center text-left">
                    <div class="icon icon-success">
                      <svg class="feather feather-dollar-sign align-middle" fill="none" height="24"
                           stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                           viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" x2="12" y1="1" y2="23"></line>
                        <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="col-8 align-self-center text-right">
                    <p class="text-white mb-1">Total Earnings</p>
                    <h2 class="text-white">$24300</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="card dashboard-card flex-fill bg-warning text-white">
              <div class="card-header">
                <h5 class="card-title text-white mb-0">Pending Orders</h5>
              </div>
              <div class="card-body py-3">
                <div class="row no-gutters">
                  <div class="col-4 align-self-center text-left">
                    <div class="icon icon-warning">
                      <svg class="feather feather-shopping-cart align-middle" fill="none" height="24"
                           stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                           viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="9" cy="21" r="1"></circle>
                        <circle cx="20" cy="21" r="1"></circle>
                        <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="col-8 align-self-center text-right">
                    <p class="text-white mb-1">Pending Orders</p>
                    <h2 class="text-white">43</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
