#services-page {
    .section-header {
        h3 {
            text-align: left !important;
            margin: 30px 0 20px 0;
            font-size: 28px !important;
        }

        h2 {
            text-align: center;
        }
    }
}