.dataTables-wrapper {

  .card {
    margin-bottom: 1.5rem;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,.05);

    .card-header{
      background-color: transparent;
      border-bottom: none;
    }

    .card-title {
      font-size: 1rem;
      color: #495057;
    }

    .card-subtitle {
      font-weight: 400;
    }

    .card-body {
      padding-top: .75rem;
    }
  }

  .dataTables_length {
    label {
      font-weight: 400;
      text-align: left;
      white-space: nowrap;
    }

    select {
      width: auto;
      display: inline-block;
      height: calc(1.425rem + 2px);
      padding-top: .15rem;
      padding-bottom: .15rem;
      padding-left: .5rem;
      font-size: .75rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      vertical-align: middle;
      //background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' …0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .7rem center/8px 10px;
      //background-color: #fff;
      border: 1px solid #ced4da;
      border-radius: .2rem;
    //   -webkit-appearance: none;
    //   -moz-appearance: none;
    //   appearance: none;
    }
  }

  .dataTables_filter {
    text-align: right;

    label {
      font-weight: 400;
      white-space: nowrap;
      text-align: left;

      input {
        margin-left: .5em;
        display: inline-block;
        width: auto;
      }
    }
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa;
  }

  .dataTable {
    clear: both;
    margin-top: 6px!important;
    margin-bottom: 6px!important;
    max-width: none!important;
    border-collapse: separate!important;
    border-spacing: 0;

    td, th {
      box-sizing: content-box;
    }

    tr.clickable  {
        cursor: pointer;
        &:hover {
            background-color: blue;
        }
    }

    td {
        text-align: right !important;
    }
  }

  .dataTables_info {
    padding-top: .85em;
    white-space: nowrap;
  }

  .dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;

    .pagination {
      margin: 2px 0;
      white-space: nowrap;
      justify-content: flex-end;

      ul {
          list-style: none;

          li {
              display: inline;
          }
      }
    }
  }
}

.custom-day {
      text-align: center;
      padding: 0.185rem 0.25rem;
      display: inline-block;
      height: 2rem;
      width: 2rem;
    }
    .custom-day.focused {
      background-color: #e6e6e6;
    }
    .custom-day.range, .custom-day:hover {
      background-color: rgb(2, 117, 216);
      color: white;
    }
    .custom-day.faded {
      background-color: rgba(2, 117, 216, 0.5);
    }

    button.calendar{
            width: 2.75rem;
    // background-image: url(data:image/png;base64,https://ng-bootstrap.github.io/iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCS…nlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=)!important;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center;
    }
