// Bootstrap Core
@import "~bootstrap/scss/functions";
@import "variables";
@import "~bootstrap/scss/mixins";

// Bootstrap Modules
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/utilities";

@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

// Theme
//@import "variables";
@import "datatables";
@import "utilities";

body {
  margin: 0;
  font-family: Nunito Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #203a45;
  background: #ededed;
  text-align: left;
}

app-root {

  .wrapper {
    align-items: stretch;
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;

    &:before {
      width: 100%;
      height: 300px;
      position: absolute;
      top: 0;
      left: 0;
      content: " ";
      background: $primary;
    }

    #main {
      margin-left: 230px;
      position: relative;
      width: 100%;
      min-height: 100vh;
      min-width: 0;
      transition: margin-left .3s ease-in-out, left .3s ease-in-out, margin-right .3s ease-in-out, right .3s ease-in-out;

      .content {
        margin-top: 3rem;
        padding: 0 .5rem;

        .content-header {
          position: relative;
          margin-bottom: 3rem;

          .content-header-title {
            font-size: 1.53125rem;
            color: #fff;
          }

          .breadcrumb {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            margin-bottom: 1rem;
            list-style: none;
            background-color: transparent;
            border-radius: .2rem;

            .breadcrumb-item {
              &.active {
                color: white;
                font-weight: 600;
              }

              &:before {
                color: #ced4da;
              }

              a {
                color: #dee2e6;
                font-weight: 400;
              }
            }
          }
        }
      }
    }

    // Auth "Templates"
    &.auth {

      &:before {
        display: none;
      }

      #main {
        margin-left: 0 !important;

        .content {
          height: 100%;
        }
      }
    }

  }

}

.ngx-datatable.material {
  box-shadow: none;
}

.ngx-datatable .datatable-body .datatable-row-wrapper:nth-of-type(odd) {
  background-color: #f8f9fa;
}

@media (min-width: 992px){
  .content {
    padding: 0 1.5rem !important;
  }
}
